{% extends 'Product/base.html' %}

{% block content %}
<div class="cotnainer">
    <div class="row">
        {% for product in products %}
        <!-- Single Product Start -->
        <div class="col-md-4">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{product.name}}</h5>
                    <p class="card-text">{{product.description}}</p>
                    <a href="#" class="btn btn-primary float-right btn-sm">Detail</a>
                </div>
            </div>
        </div>
        <!-- Single Product End -->
        {% endfor %}
    </div>
</div>


{% endblock %}